frontend http_front
    bind *:80
    default_backend flask_servers

backend flask_servers
    balance roundrobin
    option httpchk GET /health

    server s1 192.168.56.1:8001 check
    server s2 192.168.56.1:8002 check
    server s3 192.168.56.1:8003 check backup
