frontend http_front
    bind *:80
    default_backend flask_servers

backend flask_servers
    balance roundrobin
    option httpchk GET /health

    server s1 192.168.20.27:8001 check   # đổi 3 cái này thành ip của window nếu kh chạy được 
    server s2 192.168.20.27:8002 check
    server s3 192.168.20.27:8003 check backup
