# Nginx binary & zip
nginx-1.29.6.zip

# Nginx runtime files (nhung giu thu muc bang .gitkeep)
nginx-1.29.6/logs/*
!nginx-1.29.6/logs/.gitkeep
nginx-1.29.6/temp/*
!nginx-1.29.6/temp/.gitkeep

# Python cache
__pycache__/
*.pyc
*.pyo

# Old files
run.txt
upgrade_recommendations.md
